*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

img {
    width: 60px;
    float: left;
}

h1{
    font-size: 50px;
    color:#2563eb
}

header{
    padding-bottom: 20px;
    text-align: left;
}

button{
    background-color:  #2563eb;
    border-radius: 10px;
    color: white;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

select{
    
}

footer{
    color: #7c3aed;
}